:root{
  --box-shadow: 5px 3px 10px 10px rgba(101, 175, 10, 0.5);
  --bg-color:rgb(19, 71, 74);
}
.navcolor{
  background-color: var(--bg-color);
}
.nav-link:hover {
  color: #fff; /* Change text color */
  border-bottom: 3px solid yellow;
  
 /* background-color: #d77df3; /* Background color on hover */
  transform: scale(1.1); /* Slightly zoom in */
  transition: all 0.3s ease; /* Smooth transition */

/*home css*/
}
.home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  
}
.home .left{
  background-color: var(--bg-color);
  border: 2px solid yellow;
  width: 600px;
  border-radius: 2%;
  text-align: center;
  padding: 20px;
  box-shadow: var(--box-shadow);
 
}

.home .right .img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .right .img img{
  width: 250px;
  height: 250px;
  border: 5px solid yellow;
  border-radius: 100%;
  
  animation-name: superman;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes superman{
  0%{
    border-color: rgb(12,12,199);
    transform: translate(0px 0px);
    box-shadow: 10px 10px 100px 50px rgb(12,12,199);
  }
  25%{
    border-color: rgb(239,244,11);
    box-shadow: 10px 10px 100px 50px rgb(239,244,11);
  }
  50%{
    border-color: rgb(12,12,199);
    transform: translate(0px 10px);
    box-shadow: 10px 10px 100px 50px rgb(12,12,199);
  }
  75%{
    border-color: rgb(130,217,160);
    box-shadow: 10px 10px 100px 50px rgb(130,217,160);
  }
  100%{
    border-color: rgb(50,55,205);
    transform: translate(0px -0px);
    box-shadow: 10px 10px 100px 50px rgb(50,55,205);
  }
}

/* experience css*/
.ex{
  width: 900px;
}
.ex-items{
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  width: 800px;
  border-radius: 10px;
  border: 1px solid yellow;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color);
}

/* Skills css starts here*/
.skills{
  width: 900px;
}


.skills .items{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;


}
.skills .items .item{
  width: calc(33.33%);
  margin: 30px;;
  background-color: black;
  text-align: center;
  padding: 20px;
  border: 1px solid yellow;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.skills .items .item img{
  width:70px;
 
}
